
.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  padding: 50px;
  width: 800px; /* Adjust the width value as needed */
  margin: 0 auto; /* Center the container horizontally */
  flex: 1;
}
.content-wrapper {
  display: flex;
}

.ant-collapse {
  width: 100%;
}

.input {
  border-radius:15px;
  border: 1px solid #769ABE;
  padding: 10px;
  width: 100%;
  margin-left: 20px;  
}

.date-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 100%;
  
  transition: all 0.3s ease-in-out;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.success-message {
  text-align: center;
}

.input-container {
  display: flex;

  gap: 50px;
}


/* Responsive Changes */

@media screen and (max-width: 768px) {
  .form-wrapper {
    padding: 30px;
  }

  .input {
    max-width: 400px;
  }
}
