.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 20px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 50px;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.input {
  border-radius: 15px;
  border: 1px solid #769ABE;
  padding: 10px;
  width: 100%;
  max-width: 500px;
}

.date-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 500px;
  transition: all 0.3s ease-in-out;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.success-message {
  text-align: center;
}

/* Responsive Changes */

@media screen and (max-width: 768px) {
  .form-wrapper {
    padding: 30px;
  }

  .input {
    max-width: 400px;
  }
}
