.tips-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .product {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

  
  }
  
  .product h3 {
    color: #343a40;
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .product p {
    margin-bottom: 10px;
  }
  
  .product a {
    color: #1C395B;
    text-decoration: underline;
  }
  
  .product a:hover {
    color: #1C395B;
    text-decoration: none;
  }
  
  .product-image {
    width: 50vh; /* Set the desired width */
    height: 20vh; /* Set the desired height or use "auto" for maintaining aspect ratio */
    object-fit: cover; /* Adjusts how the image fills its container */
    /* Add any additional styles here */
  }
  