.preference-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding: 10px 5px; /* top, right, bottom, left */
}

.category-text {
  flex: 1;
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
}

.submit-button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.submit-button {
  background-color: #2563EB; /* Blue color */
  color: #ffffff;
  padding: 2px 12px;
  border-radius: 4px;
}

.input {
  width: 100%;
  max-width: 100px;
}
