/* Preference.css */

.preference-item {
  display: flex;
  justify-content: space-between;
  align-items: left;
  margin-bottom: 16px;
  padding: 10px 100px 10px 5px; /* top, right, bottom, left */
}


.category-text {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
  margin-right: 800px; /* Adjust the margin to the desired space */
}


.submit-button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.submit-button {
  background-color: #2563EB; /* Blue color */
  color: #ffffff;
  padding: 2px 12px;
  border-radius: 4px;
}

.input {
  width: 100px;
}