 \@font-face {
  font-family: 'futera';
  src: url('../fonts/futura_sv/FuturaBook.ttf') format('truetype');
}

.Title {
  font-family: sans-serif;
  font-size: 35px;
  align-items: center;
  color: #1C395B;
  text-align: center;
}

.Button{
  align-items: center;
  justify-content: center;
  left:10px;
}


.Card {
  display: flex;
  flex-direction: column;
  align-items: column;
  justify-content: center;
  max-width: 650px;
  width: 100%;
  padding: 40px;
  margin: 0 auto;
}
.form-container {
  display: flex;
  top: 50px;
  width:1000px;
  justify-content: flex-start;
  align-items: center;
  height: calc(100vh - 150px);
  border-radius: 20px; 
}

.form-card {
  max-width: 650px;
  width: 100%;
  padding: 20px;
  text-align: center;
 
}

.ant-form-item-label > label {
  font-size: 17px !important;
  font-family: sans-serif !important;
}

.Destination {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

.Date {
  margin-bottom: 20px;
  text-align: center;
}

.Guests {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
} 


.ant-form-item-label {
  text-align: right;
}

.ant-form-item-label > label {
  width: 120px;
  font-size: 17px;
  font-family: 'futera', sans-serif;
}

.wave-animation-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px; /* Adjust the height as needed */
  z-index: -1; /* Ensure the waves are behind the form */
}

.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Add the animation styles */
@keyframes waveAnimation {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1920px;
  }
}

.waves .parallax use {
  animation: waveAnimation 7s cubic-bezier(.36, .45, .63, .53) infinite;
}

