 \@font-face {
  font-family: 'futera';
  src: url('../fonts/futura_sv/FuturaBook.ttf') format('truetype');
}

.Title {
  font-family: sans-serif;
  font-size: 35px;
  align-items: center;
  color: #1C395B;
  text-align: center;
}

.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 650px;
  width: 100%;
  padding: 40px;
  margin: 0 auto;
}

.ant-form-item-label > label {
  font-size: 17px !important;
  font-family: sans-serif !important;
}

.Destination {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

.Date {
  margin-bottom: 20px;
  text-align: center;
}

.Guests {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
} 


.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.form-card {
  border: 2px solid #d9d9d9;
  max-width: 650px;
  width: 100%;
  padding: 40px;
  text-align: center;
}

.ant-form-item-label {
  text-align: right;
}

.ant-form-item-label > label {
  width: 120px;
  font-size: 17px;
  font-family: 'futera', sans-serif;
}
