

.login-image {
  width: 200px;
  height: 250px;
  margin: auto;
  margin-left: 40%;

 
}

.form-container {
  display: flex; /* Add display flex */
  flex-direction: column; /* Add flex direction column */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */

  max-width: 500px;
  max-height: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #d9d9d9;
}

.login-title {
  font-size: 35px;
  text-align: center;
  color: #1c395b;
}

.form-input {
  font-size: 17px;
  padding: 14px;
  width: 100%;
}

.form-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.login-button {
  font-size: 18px;
  background-color: #5186cd;
  color: white;
  padding: 0px 60px;
  height: 40px;
  margin-bottom: 10px;
  width: 100%;
}

.login-button:hover {
  background-color: #416db5;
}

.login-button:active {
  background-color: #355791;
}



.error-label {
  color: red;
}

@media screen and (max-width: 480px) {
  .login-image {
    width: 100%;
    height: auto;
    max-width: 250px;
    margin: auto;
  }

  .form-container {
    width: 90%;
  }

  .login-title {
    font-size: 28px;
  }

  .form-input {
    font-size: 15px;
  }

  .login-button {
    font-size: 16px;
    padding: 0px 40px;
  }
}
@media screen and (max-width: 768px) {
  .login-image {
    width: 100%;
    height: auto;
    max-width: 300px;
    margin: auto;
  }

  .form-container {
    width: 90%;
  }

  .login-title {
    font-size: 28px;
  }

  .form-input {
    font-size: 16px;
  }

  .login-button {
    font-size: 17px;
    padding: 0px 50px;
  }
}







